#f1 {
	background: url('/assets/imgs/t2_figures.png') no-repeat -89px -34px;
	width: 935px;
	height: 263px;
}

#f2 {
	background: url('/assets/imgs/t2_figures.png') no-repeat -117px -384px;
	width: 937px;
	height: 316px;
}

#f3 {
	background: url('/assets/imgs/t2_figures.png') no-repeat -29px -819px;
	width: 1098px;
	height: 238px;
}
